.hero{
    height: 100vh;
    background: url(../images/pexels-sunyu-kim-1544880.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
}