.navbar{
    position:fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 5vh;
    padding: 0 20px 0 30px;
    background: linear-gradient( rgba(33, 45, 54, 0.2), rgba(210, 204, 196,.0) 90%);
    color: black;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.nav-links :hover{
    background-color: rgba(255, 255, 255, .2);
    height: 5vh;
    
}